@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: #white;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 20px;
	margin: 2px;
    padding-top: 6px;
	position: relative;
	width: 60px;
	height: 60px;
}

.countdown-item span {
	color: #white;
	font-size: 12px;
	font-weight: 600;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
}

#ok-button {
	margin-left: auto;
}